<%= render "/shared/navbar" %>

<div class = "container-show">
  <h2>Edit your cocktail</h2>
  <%= render "form", cocktail: @cocktail %>
</div>

<div class = "container-low"><%= link_to "Back", cocktail_path %>

</div>

