<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://bv.mcdn.me/articles/wp-content/uploads/2017/10/best-single-malt-scotch.jpg');">
  <div class="card-description">
    <h2><%= name %></h2>
  </div>
  <img class="card-user" src="<%= src %>">
  <%= link_to '', link, class: "card-link" %>
</div>
